# Convertendo para lf ou crlf

/mvnw text eol=lf
*.sql eol=lf
*.java eol=lf
*.md eol=lf
*.txt eol=lf
*.sh eol=lf
*.cmd text eol=crlf

# Colocando sql como linguagem no GitHub

*.sql linguist-detectable=true
*.sql linguist-language=sql
